h1 {text-align: center;}
p {text-align: center;}
button {text-align: center;}
body {
  background-color: #f3f3f3;
  color: #1f1c1c;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.profile-picture {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.box {
  border: 1px solid #353434;
  background-color: #131111;
  padding: 20px;
  margin-bottom: 20px;
}

.box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.box a {
  display: block;
  text-align: center;
  color: #f5f5f5;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
::-moz-selection {
  background-color: rgb(192, 52, 52);
}
::selection {
  background-color: rgb(192, 52, 52);
}