body {
    font-family: 'Open Sans', sans-serif;
}

.flag-tooltip {
    position: relative;
    display: inline-block;
}

.flag-tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -80px;
}

.flag-tooltip:hover .tooltip-text {
    visibility: visible;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
